.pulse {
    -webkit-animation: pulse 1200ms ease-in-out 0s infinite;
       -moz-animation: pulse 1200ms ease-in-out 0s infinite;
         -o-animation: pulse 1200ms ease-in-out 0s infinite;
            animation: pulse 1200ms ease-in-out 0s infinite;
}
@-webkit-keyframes pulse {
    0%   {
        opacity: 1; }
    50%  {
        opacity: 0.25; }
    100% {
        opacity: 1; }
}
@-moz-keyframes pulse {
    0%   {
        opacity: 1; }
    50%  {
        opacity: 0.25; }
    100% {
        opacity: 1; }
}
@-o-keyframes pulse {
    0%   {
        opacity: 1; }
    50%  {
        opacity: 0.25; }
    100% {
        opacity: 1; }
}
@keyframes pulse {
    0%   {
        opacity: 1; }
    50%  {
        opacity: 0.25; }
    100% {
        opacity: 1; }
}
